
<%= render 'layouts/banner' %>
<%= render 'layouts/mobilebanner' %>

<div class="wrapper menu-row col-xs-12 col-md-4 col-lg-3">
  <h3><%= "Menu items at #{@destination.name} " %></h3>
  <div class="container">
   <div class="row">
    <% @destination.menu_items.each do |menu_item| %>
    <ul>
      <li> <p>

        <%= "#{menu_item.name} | #{menu_item.price.to_i} kroner" %>

      </p> </li>
    </ul>
    <% end %>
  </div>
</div>

<!-- facebook share button -->

<div class="fb-share-button" data-href="https://hundred-crowns.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhundred-crowns.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>

<h4>
  <%= "Opening hours: #{@destination.open_hours}:00 - #{@destination.close_hours}:00" %>
</h4>
<p>
  <i class="fa fa-map-marker big-icon" aria-hidden="true"></i>
  <%= @destination.address %>
  <p>

    <div id="map" style= "height: 80vh; width: 100vw;"></div>
  </div>

  <%= render 'snazzymap' %>

<!-- <h2>
  <i class="fa fa-external-link big-icon" aria-hidden="true"></i>
  <%= link_to "DalleValle", "http://cafedallevalle.dk/en/menu/", target: :_blank %>
</h2>
-->
</div>
