
<%= render 'layouts/banner' %>





<p><%= @destination.address %></p>
<p><%= link_to "DalleValle", "http://cafedallevalle.dk/en/menu/", target: :_blank %></p>
<p><%= "Opening hours: #{@destination.open_hours} CET" %></p>
<p><%= "Closing hours:  #{@destination.close_hours} CET" %></p>



<!-- <div class="container">
  <div class="card">
    <% if @destination.photo? %>
    <%= cl_image_tag @destination.photo.path, width: 200, height: 300, crop: :fill %>
  <% end %>
   <div class="card-description">
    <h1><%= @destination.name %></h1>
    </div>
  </div>
 -->



  <div id="map" style= "height: 80vh; width: 700px;"></div>
</div>

<%= render 'snazzymap' %>

