
<%= render 'layouts/banner' %>
<%= render 'layouts/mobilebanner' %>

<h2><%= @destination.address %></h2>
<h2><%= @destinations_and_menu_items.menu_item %></h2>

<h2><%= link_to "DalleValle", "http://cafedallevalle.dk/en/menu/", target: :_blank %></h2>
<h3><%= "Opening hours: #{@destination.open_hours}:00 CET" %></h3>
<h3><%= "Closing hours:  #{@destination.close_hours}:00 CET" %></h3>





































<!-- <div class="container">
  <div class="card">
    <% if @destination.photo? %>
    <%= cl_image_tag @destination.photo.path, width: 200, height: 300, crop: :fill %>
  <% end %>
   <div class="card-description">
    <h1><%= @destination.name %></h1>
    </div>
  </div>
 -->



  <div id="map" style= "height: 80vh; width: 700px;"></div>
</div>

<%= render 'snazzymap' %>

