
<%= render 'layouts/banner' %>
<%= render 'layouts/mobilebanner' %>

<!-- MENU -->
<div class="wrapper">
  <h3 class='text-center'><%= "Menu items at #{@destination.name} " %></h3>
  <% %w(appetizer entree dessert beer wine cocktail).each do |cat| %>
  <% if @destination.menu_items.find { |menu_item| menu_item.category == cat } %>
  <div class="category-collection">
    <h4 class="text-center"><%= cat.capitalize %></h4>
    <div class="container">
      <div class="row">
        <% @destination.menu_items.where(category: cat).each do |menu_item| %>
        <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="menu-item-card">
            <p><i class="fa fa-eercast" aria-hidden="true"></i><%= "#{menu_item.name}" %></p>
            <p><%= "#{menu_item.price.to_i} DKK" %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div> <!-- close row -->
    </div> <!-- close container -->
  </div> <!-- close category-collection -->
  <% end %>
</div> <!-- close wrapper -->

<!-- facebook share button -->

<div class="container">
  <div class="row">
    <div class="fa fa-facebook-square" data-href="https://hundred-crowns.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhundred-crowns.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>

    <!-- opening hours -->
    <div class="col-xs-12">

      <h4>
        <%= "Opening hours: #{@destination.open_hours}:00 - #{@destination.close_hours}:00" %>
      </h4>

      <!-- GOOGLE MAPS -->
      <p>
        <i class="fa fa-map-signs" aria-hidden="true"></i>
        <%= @destination.address %>
        <p>
        </div>
      </div>
    </div>

    <div id="map" style= "height: 80vh; width: 100vw;"></div>

    <%= render 'maplink', collection: @markers %>


