
<%= render 'layouts/banner' %>
<%= render 'layouts/mobilebanner' %>

<!-- MENU -->
<div class="wrapper">

  <div class="destination-information">
  <div class="container">
  <!-- <h3 class='text-center'><%= "#{@destination.name} " %></h3> -->
  <!-- facebook share button -->
  <div class="row">
      <div class="col-xs-6 col-offset-4">
<!--         <div class="fa fa-facebook-square" data-href="https://hundred-crowns.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhundred-crowns.herokuapp.com%2F&amp;src=sdkpreparse"></a>
        </div>
 -->      </div>
      </div>
    <div class="row">
      <div class="col-xs-6 col-offset-4">
        <div class="destination-hours">
        <h4>
          <i class="fa fa-hourglass-half" aria-hidden="true"></i>
        <%= "Hours: #{@destination.open_hours}:00 - #{@destination.close_hours}:00" %>
        </h4>
        </div>
      </div>

        <div class="col-xs-6 col-offset-4">
        <div class="destination-address">
          <h4>
            <i class="fa fa-map-signs" aria-hidden="true"></i>
            <%= @destination.address %>
            </h4>
         </div>
       </div>
    </div>
  </div>
  </div>
</div> <!-- close wrapper -->

  <!-- <div class="container"> -->
    <div class="wrapper">
    <div class="flex-show-container">
      <div class="container">
        <div class="row">

      <div class="flex-all-item">
      <div class="text-center">
        <h3>Menu Items</h3>
        </div>
        <% %w(appetizer entree dessert beer wine cocktail).each do |cat| %>
               <div class="flex-item-show">
          <% if @destination.menu_items.find { |menu_item| menu_item.category == cat } %>
            <div class="category-collection">
              <h4 class="text-center"><%= cat.capitalize %></h4>
            </div> <!-- close flex-item -->
            <% @destination.menu_items.where(category: cat).each do |menu_item| %>
              <div class="flex-item-show">
                <div class="menu-item-card">
                  <p class="menu-item-name"><i class="fa fa-eercast" aria-hidden="true"></i><%= "#{menu_item.name}" %></p>
                  <p><%= "#{menu_item.price.to_i} DKK" %></p>
                </div>
              </div>
            <% end %> <!-- end menu item iteration -->
          <% end %> <!-- close if statement -->
              </div>
        <% end %>
                </div>
        </div>
      </div>
</div> <!-- closes map-flex-item -->

<!-- <%= link_to('See Reviews', :anchor => 'yelp-btn', :class=>"btn btn-primar") %>
 -->

  <!-- GOOGLE MAPS -->
</div> <!-- closes wrapper -->
    <div class="map-flex-item">
    <div class="show-map">
      <div id="map" style= "height: 80vh; width: 100vw;"></div>
    <!-- </div> -->
    </div>
      </div> <!-- close flex-container -->

  <%= content_for(:after_js) do %>
    <%= render 'maplink', collection: @markers %>
  <% end %>

 </div>
</div>


<% if @destination.reviews %>
<div class="wrapper">
  <h3 id="yelp-title">YELP REVIEWS</h3>
  <div class="yelp-cover">
    <% @destination.reviews.each do |review| %>
    <div class="yelp-card">
      <div class="yelp-header">
        <%= review.author %>
        <% review.rating.times do %>
          <i class="fa fa-star-o style-rating" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class="yelp-style">
        <%= review.content %>
      </div>
      <div id="yelp-btn">
       <%= link_to "more on yelp", review.content_url, :target => "_blank", :class=>"btn btn-danger btn-sm" %>
      </div>
   </div>
   <% end %>
 </div>
</div>

<% end %>

<!-- facebook share button -->



<div class="fb-share-button" data-href="https://hundred-crowns.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhundred-crowns.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>















